@charset

* {

}

h1 {
    background-color: lightgray;
    height: 300px;
    width: 300px;

    border: 10px solid darkslategray;

    padding: 10px;

    margin: 20px auto 40px auto;
}

a {
    border: 10px solid red;

    padding: 10px;
}

